{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/createrecipe.css" %}">
{% endblock %}

{% block main %}
<form id="create-form" method="post" enctype="multipart/form-data">
    <div id="split-view">
            <div class="title"> Create recipe</div>
        <div class="left">
            {% csrf_token %}
            <input type="number" name="number-of-ingredients" id="number-of-ingredients" class="hidden" value="0">
            <div class="input-container">
                {{ form }}
            </div>
            <select name="category" id="select-category" required>
                {% for category in categories %}
                    <option value="">category</option>
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="right">
            <div id="ingredient-used">
                <div class="ingredient-title">
                    <div class="item-1">Ingredient</div>
                    <div class="item-2">Quantity</div>
                    <div class="item-3">Unit</div>
                </div>
                <div id="ingredients">
                    <div id="ingredient-list">
                        <input type="text" id="ingredient-name" placeholder="search..." onInput="onIngredientChange()">
                        {% for ingredient in ingredients %}
                            <button class="choice" type="button" onclick="moveItem('{{ ingredient.ingredient_name }}',
                                    '{{ ingredient.unit_type }}')">{{ ingredient.ingredient_name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="under">

            <button type="submit">submit</button>
        </div>
    </div>
</form>
    {% load static %}
    <script type="text/javascript" src=" {% static "js/script.js" %}"></script>
{% endblock %}