{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/createrecipe.css" %}">
{% endblock %}

{% block main %}
<div id="split-view">
    <form id="create-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Create Recipe</h3>
        <input type="number" name="number-of-ingredients" id="number-of-ingredients" class="hidden" value="0">
        <div class="input-container">
            {{ form }}
            <div id="ingredient-used"></div>
            <button type="submit">submit</button>
        </div>
    </form>
    <div id="ingredients">
        <div class="hidden">
            {% for ingredient in ingredients %}
                {{ ingredient.ingredient_name }}
                <input type="text" name="{{ ingredient.ingredient_name }}">
                {{ ingredient.unit_type }} <br>
            {% endfor %}
        </div>
        <input type="text" id="IngredientName" onchange="onIngredientChange()">
        <div id="ingredient-list">
            {% for ingredient in ingredients %}
                <button onclick="moveItem('{{ ingredient.ingredient_name }}')">{{ ingredient.ingredient_name }}</button>
            {% endfor %}
        </div>
    </div>
</div>
    {% load static %}
    <script type="text/javascript" src=" {% static "js/script.js" %}"></script>
{% endblock %}