{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/recipe.css" %}">
{% endblock %}

{% block main %}
    <div class="title">
        {{ recipe.recipe_name }}
    </div>
    <div class="description">
        {{ recipe.recipe_description }}
    </div>
    <img class="image" src="{{ recipe.image.url }}">
    <div class="ingredients">
        <div class="ingredient-title">
            Ingredients
        </div>
        <div id="ingredient-list">
            {% for ingredient, name in ingredients %}
                <div class="ingredient-element">
                    {{ ingredient.value }} {{ name.unit_type }} {{ name.ingredient_name }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}