{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/recipes.css" %}">
{% endblock %}

{% block main %}
    <div id="main">
        <a href="abd.html" class="item">
            <div class="title">oppskrift 1</div>
            <img class="image" src="https://i.redd.it/yfu0hzb05yd61.jpg">
        </a>
        <a class="item">
            <div class="title">oppskrift 2</div>
            <img class="image" src="https://i.redd.it/eew6iys4jyd61.jpg">
        </a>
        <a class="item">
            <div class="title">oppskrift 3</div>
            <img class="image" src="https://i.redd.it/yfu0hzb05yd61.jpg">
        </a>
        <a class="item">
            <div class="title">oppskrift 3</div>
            <img class="image" src="https://i.redd.it/eew6iys4jyd61.jpg">
        </a>
    </div>
{% endblock %}