{% extends "base.html" %}
{% block main %}
    <div id="main">
        <div class="item">
            <div class="title">oppskrift 1</div>
            <img class="image" src="https://i.redd.it/ibvmt5m1x2e61.jpg">
        </div>
        <div class="item">
            <div class="title">oppskrift 2</div>
            <img class="image" src="https://i.redd.it/ibvmt5m1x2e61.jpg">
        </div>
        <div class="item">
            <div class="title">oppskrift 3</div>
            <img class="image" src="https://i.redd.it/ibvmt5m1x2e61.jpg">
        </div>
        <div class="item">
            <div class="title">oppskrift 3</div>
            <img class="image" src="https://i.redd.it/ibvmt5m1x2e61.jpg">
        </div>
    </div>
{% endblock %}