{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/recipes.css" %}">
{% endblock %}

{% block main %}
    {% for recipe in recipes %}
        <a href="recipe/{{ recipe.id }}" class="item">
            <div class="title">{{recipe.recipe_name}}</div>
            <div class="image">
            <img src="{{ recipe.image.url }}">
                </div>
        </a>
    {% endfor %}
{% endblock %}

{% block footer %}
    page:
    {% if recipes.has_previous %}
        {% if recipes.previous_page_number != 1  %}
            <a href="/1">1</a>
            ...
        {% endif %}
        <a href="/{{ recipes.previous_page_number }}">{{ recipes.previous_page_number }}</a>
    {% endif %}
    {{ recipes.number }}
    {% if recipes.has_next %}
        {% if recipes.next_page_number != recipes.paginator.num_pages  %}
            <a href="/{{ recipes.next_page_number }}">{{ recipes.next_page_number }}</a>
            ...
        {% endif %}
        <a href="/{{ recipes.paginator.num_pages }}">{{ recipes.paginator.num_pages }}</a>
    {% endif %}
{% endblock %}