{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/recipe.css" %}">
{% endblock %}

{% block main %}
    <div class="title">
        {{ recipe.recipe_name }}
    </div>
    <div class="description">
        <div class="description-title">Fremgangsmåte</div>
        {{ recipe.recipe_description }}
    </div>
    <div class="image"><img src="{{ recipe.image.url }}"></div>
    <div class="ingredients">
        <div class="ingredient-title">
            Ingredienser
        </div>
        <div id="ingredient-list">
            {% for ingredient, name in ingredients %}
                <div class="ingredient-element">
                    {{ ingredient.value|floatformat }} {{ name.unit_type }} {{ name.ingredient_name }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}