
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 3px
}

#main .item {
    width: 23.5%;
    background-color: #fafafa;
    height: 220px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px;
    grid-template-areas:
    "image"
    "title";
    border-radius: 10px;
    text-decoration: none;
    transition-duration: 0.3s;
    box-shadow: 0px 1px 1px 0px #dcdcdc;
}

#main .item:hover {
    transition-duration: 0.6s;
    background-color: #ececec;
}

@media (max-width: 1500px) {
    #main .item {
        width: 30%;
    }

}

@media (max-width: 1000px) {
    #main .item {
        width: 48%!important;
        height: 400px;
        grid-template-rows: auto 100px;
        font-size: 2rem;
    }

    #main .item .title{
        line-height: 100px;
    }

    #footer {
        font-size: 3rem!important;
    }
}

#main .item .title{
    grid-area: title;
    color: #000000;
    text-transform: capitalize;
    overflow: hidden;
    line-height: 40px;
    text-align: center;
    height: 100%;
    font-family: sans-serif;
}
#main .item .image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition-duration: 0.2s;
    grid-area: image;
    min-width: 100%;
    min-height: 100%;
    opacity: 1.0;
    overflow: hidden;
}
#main .item .image:hover {
    transition-duration: 0.2s;
    filter: saturate(140%);
    filter: contrast(120%);
    overflow: hidden;
}

.image img {
    object-fit: cover;
    width: 100%;
}