body {
    background-color: #fdfdfd;
    height:100%;
    min-width: 1500px;
    display: grid;
    grid-template-columns: 3fr 4fr 6fr 6fr 4fr 3fr;
    grid-template-rows: 100px 50px 100px 500px 50px;
    grid-template-areas:
    ". header header header header ."
    ". . . . . ."
    ". left-area main main right-area-upper ."
    ". left-area main main right-area-lower ."
    ". footer footer footer footer ."
}

#header {
    grid-area: header;

    color: #685252;
    font-size: 4vw;
    text-align: center;
}

#main {
    grid-area: main;
    background-color: #fff;
    text-align: center;
}

#left-area {
    grid-area: left-area;
    background-color: #ffe9e6;
    text-align: center;
}

#right-area-upper {
    font-size: 1.5em;
    grid-area: right-area-upper;
    background-color: #ffe9e6;
    text-align: center;
}
#right-area-lower {
    border-top: 1px solid black;
    font-size: 1.5em;
    grid-area: right-area-lower;
    background-color: #ffe9e6;
    text-align: center;
}

#footer {
    grid-area: footer;
    background-color: #c6c6c6;
    text-align: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

#sidebar .item {
    margin-bottom: 5px;
    background-color: #fff1f1;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: #685252;
    line-height: 40px;
}