<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recipe</title>
        <base href=".." />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
                Recipe deluxe
            {% endblock %}
        </div>
        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
        <div id="left-area">
            {% block left-area %}
                <div id="sidebar">
                    <a href="./" class="item">Oppskrifter</a>
                    <a href="ingredients" class="item">ingredienser</a>
                    <a href="create" class="item">Lag ny oppskrift</a>
                    <a href="createingredient" class="item">Lag ny ingrediens</a>
                </div>
            {% endblock %}
        </div>
        <div id="right-area">
            {% block right-area %}
            {% endblock %}
        </div>
        <div id="footer">
        </div>



    </body>
</html>